* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    /* 行高是字体1.15倍 */
    line-height: 1.15;
}

header {
    position: relative;
    height: 1.25rem;
    background-size: 100% 100%;
    padding-top: 20px;
}

header h1 {
    font-size: 2.75rem;
    color: rgb(102, 170, 200);
    text-align: center;
    line-height: 1rem;
}

header .showTime {
    position: absolute;
    right: 0.375rem;
    line-height: 0.9375rem;
    font-size: 0.25rem;
    color: rgba(2, 1, 1, 0.7);
}

.mainbox {
    min-width: 1024px;
    max-width: 1920px;
    padding: 0.125rem 0.125rem 0;
    display: flex;
}

.mainbox .column {
    flex: 3;
}

.mainbox .column:nth-child(2) {
    flex: 5;
    margin: 0 0.125rem 0.1875rem;
    overflow: hidden;
}

#left {
    position: relative;
    height: 25rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    /* padding: 0 0.1875rem 0.5rem; */
    margin-top: 4rem;
    margin-bottom: 0.1875rem;
}

#left1 {
    position: relative;
    height: 50%;
    border: 1px solid rgba(25, 186, 139, 0.17);
}

#left2 {
    position: relative;
    height: 50%;
    border: 1px solid rgba(25, 186, 139, 0.17);
}

#left3 {
    position: relative;
    height: 17rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 0rem 0.1875rem 0.5rem;
    margin-top: 0.12rem;
    margin-bottom: 0.1875rem;
}

#mid {
    position: relative;
    height: 25rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 0 0.1875rem 0.5rem;
    margin-top: 4rem;
    margin-bottom: 0.1875rem;
}

#mid1 {
    position: relative;
    height: 20rem;
    padding: 0 0.1875rem 0rem;
    margin-top: 2rem;
}

#mid2 {
    position: relative;
    height: 17rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 0 0.1875rem 0.5rem;
    margin-top: 0.12rem;
    margin-bottom: 0.1875rem;
}

#right1 {
    position: relative;
    height: 25rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 1.95rem 0.18rem 0 0.5rem;
    margin-top: 4rem;
    margin-bottom: 0.1875rem;
}

#right2 {
    position: relative;
    height: 17rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 1.5rem 0.1875rem 0rem 0.5rem;
    margin-top: 0.12rem;
}

#first_1 {
    position: relative;
    height: 17rem;
    width: 50%;
    float: left;
}

#first_2 {
    position: relative;
    height: 17rem;
    width: 50%;
    float: left;
}